@use '../tokens/tokens';

.container-inner {
    display: flex;
    gap: tokens.$gap-xl;

    .section {
        width: 100%;
    }
}

.container-inner-small {
    max-width: 720px;
    @media (max-width: 992px) {
        width: 100%;
      }
}

.container {
    @media (max-width: 992px) {
        margin: 0;
      }
}
