 .bg-highlight {
    background-image: url('../../assets/image/bg-index.svg');
    background-position: right center;
    background-repeat: no-repeat;    
    background-size: cover; 
    min-height: 100%;
}