@use '../tokens/tokens';

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tokens.$color-surface;
    border-radius: tokens.$border-radius-l;
    padding: tokens.$padding-l;
    gap: tokens.$gap-l;

    box-shadow: 0 1px 6px 1px tokens.$color-opacity-on-surface-15;
    min-width: 280px;
    &__header {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: tokens.$gap-l;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: tokens.$gap-l;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: tokens.$gap-l;
    }

    &:hover {
        background-color: tokens.$color-base;
    }

    &:active {
        background-color: tokens.$color-primary-container;
    }

    &.is-disabled,
    &[aria-disabled="true"] {
    opacity: 0.6;
    pointer-events: none;
    }
}

