@use '../tokens/tokens';

.logo-l {
    display: block;
    padding-top: tokens.$padding-xl;
}

.logo-m {
    display: block;
    height: 3rem;
    width: auto;
}

.logo-s {
    display: block;
    height: 32px;
    width: auto;
}