@use '../tokens/tokens';

.menu {
    position: absolute;
    top: 38px;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: tokens.$color-surface-var;
    border-radius: tokens.$border-radius-l;
    padding: tokens.$padding-m;
    gap: tokens.$gap-xs;
    box-shadow: 0 1px 6px 1px tokens.$color-opacity-on-surface-15;
    min-width: 200px;
    z-index: 1000;

    &--active {
        display: flex;
    }
}
