@use '../tokens/tokens';

.select-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: tokens.$gap-xs;

    label {
        color: tokens.$color-on-surface-var;
        font-size: tokens.$font-size-14;
        font-weight: tokens.$font-weight-semibold;
    }

    select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        width: 100%;
        min-height: 40px;
        padding: tokens.$padding-s tokens.$padding-m;
        border-radius: tokens.$border-radius-s;
        border: solid 1px tokens.$color-outline;
        background-color: tokens.$color-surface;

        appearance: none;         
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            border: solid 1px tokens.$color-on-surface-var;
        }
        
        &:focus {
            outline: none;
            border: solid 1px tokens.$color-primary;
        } 
        
        &:disabled {
            opacity: 60%;
            cursor: not-allowed;
        }
        
        &::placeholder {
            color: tokens.$color-opacity-on-surface-60;
        }
        
        option {
            background-color: tokens.$color-surface-var;
            color: tokens.$color-on-surface;

        }
    }
}

 



