/*Border-radius*/
$border-radius-xxs: 0.25rem;
$border-radius-xs: 0.5rem;
$border-radius-s: 0.75rem;
$border-radius-m: 1rem;
$border-radius-l: 1.25rem;
$border-radius-xl: 1.5rem;
$border-radius-xxl: 2rem;
$border-radius-full: 1000rem;
